:root {
  --cell-spacing: 4px;
}

.grid-row:nth-child(2n) {
  background-color: #f9f9f9;
}

.grid-table {
  width: 100%;
  border-collapse:collapse;
  table-layout:fixed;
}

.grid-cell-base {
  position: relative;
  padding: var(--cell-spacing);
  border: none;
  font-size: 12px;
}

.grid-cell-base.is-selected {
  padding: 0;
}

.grid-cell-heading,
.grid-cell {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.grid-cell {
  cursor: default;
}

.grid-cell.is-editable {
  cursor: text;
}

.grid-cell-input {
  display: block;
  width: 100%;
}

.grid-cell.is-visible,
.grid-cell-heading.is-visible {
  display: table-cell;
}

.grid-cell-heading {
  background-color: var(--color-primary-0);
  padding: var(--cell-spacing) 0 0;
  border: none;
  font-size: 12px;
  color: #fff;
  border-bottom: 1px solid var(--color-primary-0);
}

.is-order-asc {
  background: red;
}

.is-order-desc {
  background: blue;
}

.grid-cell-heading-orderable,
.grid-search-select,
.grid-search-input,
.grid-cell,
.grid-row {
  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-out;
}

.grid-row:hover {
  background-color: color(var(--color-primary-0) tint(90%));
}

.grid-cell:hover {
  background-color: color(var(--color-primary-0) tint(85%));
}

body {
  padding: 2em;
}

.grid-container {
  margin: 2em 0;
  border: 1px solid var(--color-primary-0);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.grid-form-create-row {
  margin: 17px 0;
}

.grid-form-create-label {
  display: block;
  margin-bottom: var(--cell-spacing);
}

.grid-form-create-input {
  width: 100%;
}

.grid-form-create-select {
  width: 100%;
}

.grid-pagination-container {
  padding: 10px;
  font-size: 12px;
  text-align: center;
  line-height: 2;
  border-top: 1px solid var(--color-primary-0);
}

.grid-pagination-select {
  padding: 0;
  margin: 0 3px;
}

.grid-is-filtering .grid-button-remove-filters {
  display: block;
}

.grid-spinner-single {
  animation: rotateFull 0.5s infinite linear;
  height: 26px;
  width: 26px;
  margin: 0 auto;
  position: relative;
  border-left-color: #cccccc;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-top-color: #eeeeee;
  border-radius: 100%;
  border-width: 4px;
  border-style: solid;
}

@keyframes rotateFull {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.grid-total-rows {
  float: right;
}

.grid-total-rows:before {
  content: 'Total:';
  margin-right: 4px;
  font-weight: 600;
}

.grid-cell-heading-orderable:hover {
  background-color: color(var(--color-primary-0) shade(10%));
}

.grid-cell-heading-orderable {
  cursor: pointer;
}

.grid-cell-heading-name {
  margin-bottom: 4px;
  font-weight: 400;
}

.grid-heading-is-order-asc .grid-cell-heading-name:before,
.grid-heading-is-order-desc .grid-cell-heading-name:before {
  display: block;
}

.grid-heading-is-order-asc .grid-cell-heading-name:before {
  border-top-color: transparent;
  bottom: -1px;
}

.grid-heading-is-order-desc .grid-cell-heading-name:before {
  border-bottom-color: transparent;
  bottom: -6px;
}

.grid-heading-is-order-asc,
.grid-heading-is-order-desc {
  background-color: color(var(--color-primary-0) shade(10%));
}

.grid-cell-heading-name:before {
  display: none;
  width: 10px;
  border-width: 5px;
  border-style: solid;
  border-left-color: transparent;
  border-right-color: transparent;
  content: '';
  float: right;
  position: relative;
  right: 5px;
}

.grid-no-rows {
  padding: 40px;
  text-align: center;
}

.grid-row-button-delete {
  display: none;
  position: absolute;
  text-align: center;
  line-height: 1.2;
  font-size: 22px;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
  opacity: 0.7;
}

.grid-row:hover .grid-row-button-delete {
  display: block;
}

.grid-row-button-delete:hover {
  opacity: 1;
}

.grid-search-input {
  width: 100%;
  font-weight: normal;
  font-size: 1em;
  box-sizing: border-box;
  appearance: none;
  color: var(--body-color);
  font-family: var(--font-family);
  border: none;
  padding: 4px;
  margin: 0;
  border-radius: 0;
}

.grid-search-input:focus,
.grid-search-input:hover {
  background-color: color(var(--color-primary-0) tint(90%));
}

.grid-search-select:hover {
  background-color: color(var(--color-primary-0) tint(90%));
}

.grid-search-select {
  font-size: 1em;
  box-sizing: border-box;
  font-family: var(--font-family);
  border: none;
  padding: 3px 0;
  margin: 0;
  width: 100%;
  background-color: #fff;
  font-weight: normal;
}

.is-reading .grid-row {
  opacity: .3;
}

.grid-table-container {
  position: relative;
}

.grid-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -13px;
  margin-top: -13px;
}

.grid-button.left {
  margin-right: 7px;
}

.grid-button {
  font-size: 12px;
  background: var(--color-secondary-1-0);
  padding: 3px var(--cell-spacing);
  margin-bottom: var(--cell-spacing);
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  padding: 3px 6px;
  border-radius: var(--border-radius);
}

.grid-button-remove-filters {
  display: none;
  position: relative;
  padding-right: 25px;
}

.grid-button-remove-filters-cross {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  width: 23px;
  height: 23px;
  line-height: 1.6;
  text-align: center;
}

.is-selected:hover .grid-cell,
.is-selected:hover,
.is-selected {
  background-color: color(var(--color-primary-0) tint(75%));
}

.grid-customcols-container:hover .grid-customcols-cols {
  display: block;
}

.grid-customcols-container {
    float: left;
    line-height: 1;
    position: relative;
}

.grid-customcols-cols {
  min-width: 150px;
    display: none;
    position: absolute;
    top: 23px;
    left: 0;
    padding: 5px 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid color(var(--color-secondary-1-0) tint(50%));
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: var(--border-radius);
}

.grid-customcols-toggle {}

.grid-container {
    overflow: visible;
}

.grid-customcols-col.is-visible {
  opacity: 1;
}

.grid-customcols-col {
  opacity: .5;
    text-align: left;
    padding: 5px 8px;
    cursor: pointer;
}

.grid-customcols-col:hover {
    background-color: color(var(--color-secondary-1-0) tint(90%));
}

.grid-pagecontrols-container {
    float: right;
}

.grid-pagecontrol {
    float: left;
    width: 24px;
    font-weight: 600;
    background-color: var(--color-secondary-1-0);
    color: #fff;
    padding: 10px;
    margin-right: 8px;
    line-height: 0.3;
    cursor: pointer;
    font-size: 16px;
}
