<div class="grid-button-remove-filters js-grid-button-remove-filters">
    Remove Filters
    <span class="grid-button-remove-filters-cross">&times;</span>
</div>

Page

{{#selectPages}}
    {{> select}}
{{/selectPages}}

of {{possiblePages}}

per page

{{#selectPerPage}}
    {{> select}}
{{/selectPerPage}}

<span class="grid-total-rows">{{rowsTotal}}</span>'
