{{#url.create}}

<div class="grid-button left grid-button-create js-grid-button-create">New Row</div>

{{/url.create}}

<div class="grid-button left grid-button-remove-filters js-grid-button-remove-filters">
    Remove Filters
    <span class="grid-button-remove-filters-cross">&times;</span>
</div>

Page

{{#selectPages}}
    {{> select}}
{{/selectPages}}

of {{possiblePages}}

per page

{{#selectPerPage}}
    {{> select}}
{{/selectPerPage}}

<div class="grid-customcols-container js-grid-customcols-container">
    <div class="grid-button left grid-customcols-toggle js-grid-customcols-toggle">Column Visibility</div>
    <div class="grid-customcols-cols">
        
{{#cols}}

        <div class="grid-customcols-col js-grid-customcols-col {{#isVisible}}is-visible{{/isVisible}}" data-key="{{key}}">{{name}}</div>

{{/cols}}

    </div>
    
</div>
<span class="grid-total-rows">{{rowsTotal}}</span>

{{#showPageControls}}

<div class="grid-pagecontrols-container">
    <div class="grid-pagecontrol js-grid-pagecontrol grid-pagecontrol-left" data-direction="previous"><</div>
    <div class="grid-pagecontrol js-grid-pagecontrol grid-pagecontrol-right" data-direction="next">></div>
</div>

{{/showPageControls}}
