{{#.}}

<tr class="grid-row js-grid-row">

    {{#.}}

    <td class="grid-cell-base grid-cell grid-td js-grid-cell {{#isVisible}}is-visible{{/isVisible}} {{#isEditable}}is-editable{{/isEditable}}">{{{html}}}</td>

    {{/.}}

</tr>

{{/.}}
