@charset "utf-8";
@import "settings.css";
@import "mwyatt-codex/mixin.css";
@import "mwyatt-codex/reset.css";
@import "mwyatt-codex/reusable.css";
@import "mwyatt-codex/keyframe.css";
@import "mwyatt-codex/form.css";
@import "mwyatt-codex/typography.css";
@import "mwyatt-codex/feedback-queue.css";
@import "dialogue.css";

@mixin clearfix .clearfix;

.grid-table {
    width: 100%;
}

.grid-cell-base {
    padding: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.grid-cell-base.is-selected {
    padding: 0;
}

.is-selected {
    background-color: #ccc;
}

.grid-cell-heading,
.grid-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.grid-search-input {
    width: 100%;
}

.grid-cell-input {
    display: block;
    width: 100%;
}

.grid-cell-heading {
    background-color: #eee;
}

.is-order-asc {
    background: red;
}

.is-order-desc {
    background: blue;
}

.grid-row:hover {
	background-color: #eee;
}

body {
	padding: 2em;
}

.grid-container {
	margin: 2em 0;
    overflow-x: scroll;
}

.grid-form-create-row {
    margin: 17px 0;
}

.grid-form-create-label {
    display: block;
    margin-bottom: 5px;
}

.grid-form-create-input {
    width: 100%;
}

.grid-form-create-select {
    width: 100%;
}

.grid-search-input {
    padding: 0 2px;
}

.grid-cell-heading-name {
    font-weight: 600;
}

.grid-pagination-container {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
}

.grid-pagination-select {
    padding: 0px;
    margin: 0 3px;
}

.grid-is-filtering .grid-button-remove-filters {
    display: block;
}

.grid-button-remove-filters {
    display: none;
    float: right;
    font-size: 12px;
    background: red;
    padding: 3px 5px;
    margin-bottom: 5px;
    color: #fff;
    cursor: pointer;
}

.grid-spinner {
  padding: 40px;
}

.grid-spinner-single {
  animation: rotateFull 0.5s infinite linear;
  height: 26px;
  width: 26px;
  margin: 0 auto;
  position: relative;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-bottom-color: #ccc;
  border-top-color: #eee;
  border-radius: 100%;
  border-width: 4px;
  border-style: solid;
}

@keyframes rotateFull {
    from { transform: rotate(0deg); }
    to { transform: rotate(359deg); }
}

.grid-total-rows {
    float: right;
}

.grid-total-rows:before {
    content: "Total:";
    margin-right: 4px;
    font-weight: 600;
}

.grid-cell-heading-orderable {
    cursor: pointer;
}

.grid-heading-is-order-desc .grid-cell-heading-name:before,
.grid-heading-is-order-asc .grid-cell-heading-name:before {
    display: block;
}

.grid-heading-is-order-desc .grid-cell-heading-name:before {
    border-top-color: transparent;
    bottom: 1px;
}

.grid-heading-is-order-asc .grid-cell-heading-name:before {
    border-bottom-color: transparent;
    bottom: -4px;
}

.grid-cell-heading-name:before {
    display: none;
    width: 10px;
    border-width: 5px;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    content: "";
    float: right;
    position: relative;
    right: 4px;
}

.grid-no-rows {
    padding: 40px;
    text-align: center;
}
