@charset "utf-8";
@import "settings.css";
@import "codex/mixin.css";
@import "normalize.css";
@import "codex/reset.css";
@import "codex/reusable.css";
@import "codex/keyframe.css";
@import "codex/form.css";
@import "codex/typography.css";
@import "dialogue.css";

@mixin clearfix .clearfix;

.grid-cell-base {
    padding: 3px;
    border: 1px solid #ccc;
}

.is-selected {
    background-color: #ccc;
}

.grid-cell-input {
    width: 100%;
    display: block;
}

.grid-cell-heading {
    /*width: 6.25%;*/
}

.is-order-asc {
    background: red;
}

.is-order-desc {
    background: blue;
}

.grid-cell-heading {
	background-color: #eee;
}

.grid-row:hover {
	background-color: #eee;
}

body {
	padding: 2em;
}

.grid-container {
	margin: 2em 0;
}